.top-menu {
    background-color: #c82333;
    color: white !important;
}

.date-picker {
    min-width: 300px;
}

.flight-status-card {
    line-height: 0.7em;
}

.flight-tail-img {
    display: block;
    margin-left: auto;
    margin-right: 30%;
}

.flight-tail-img-co {
    display: block;
    margin-left: 23%;
    margin-top: -45px;
}

.flight-tail-img-center {
    display: block;
    margin-left: auto;
    margin-right: 70%;
    margin-top: -15px;
}

.departure-widget {
    text-align: left;
}

.flight-time-id-widget {
    text-align: center;
    margin-top: -15px;
}

.arrival-widget {
    text-align: right;
}

.weekdays-widget {
    text-align: right;
}

.weekday-badge {
    font-size: 0.9em;
}

.stops-widget {
    text-align: center;
}

.connection-flight-img {
    display: inline-block;
    margin-top: 10px;
}

.connection-flight-card-body {
    font-size: 0.9em;
}

.connection-flight-time-id-widget {
    text-align: center;
}

a, a:hover {
    color: black;
}



